.mt-1 {
  margin-top: calc(var(--space) * 1);
}
.mt-2 {
  margin-top: calc(var(--space) * 2);
}
.mt-3 {
  margin-top: calc(var(--space) * 3);
}
.mt-4 {
  margin-top: calc(var(--space) * 4);
}

.mb-1 {
  margin-bottom: calc(var(--space) * 1);
}
.mb-2 {
  margin-bottom: calc(var(--space) * 2);
}
.mb-3 {
  margin-bottom: calc(var(--space) * 3);
}
.mb-4 {
  margin-bottom: calc(var(--space) * 4);
}
