---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<h1>button</h1>

<p class="focusabletext" tabindex="0" autofocus>Try focusing these text fields using <kbd>Tab</kbd> key or clicking on it.</p>

<div class="switcher mt-3">
	<div class="stack">
		<h2>default</h2>
		<button type="button" class="ui no-style">click me</button>
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<button type="button" class="ui focus">click me</button>
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<button type="button" class="ui focus-visible">click me</button>
	</div>
</div>

</BaseLayout>
