---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<style>
button {
	font-size: 2em;
}
.focus:focus {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
.focus-visible:focus-visible {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
p:focus-visible {
	outline: 4px solid goldenrod;
}
</style>

<BaseLayout>

<h1>button</h1>

<p tabindex="0" autofocus>Try focusing these text fields using <kbd>Tab</kbd> key or clicking on it.</p>

<div class="switcher mt-3">
	<div class="stack">
		<h2>no style</h2>
		<button type="button" class="no-style">click me</button>
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<button type="button" class="focus">click me</button>
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<button type="button" class="focus-visible">click me</button>
	</div>
</div>

</BaseLayout>
