---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageName = "focus styling";
---

<BaseLayout pageName={pageName} showFooter={false}>

<h1>{pageName}</h1>

<p>フォーカスのスタイル検証用ページ。</p>

<h2>ページ一覧</h2>

<ul>
<li><a href="/input">input</a></li>
<li><a href="/button">button</a></li>
<li><a href="/select">select</a></li>
<li><a href="/text">テキスト</a></li>
</ul>

</BaseLayout>
