---
---
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>focus styling</title>
<style>
input {
	font-size: 2em;
}
.horizontal-stack {
	display: flex;
	gap: 2em;
}
.stack {
	display: flex;
	flex-direction: column;
	gap: .5em;
}
.no-style {
	
}
.focus:focus {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
.focus-visible:focus-visible {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
p:focus-visible {
	outline: 4px solid goldenrod;
}
</style>
</head>

<body>
<h1>focus styling</h1>

<p tabindex="0" autofocus>Try focusing these text fields using <kbd>Tab</kbd> key or clicking on it.</p>

<div class="horizontal-stack">
	<div class="stack">
		<label for="input-no-style">no style</label>
		<input size="10" id="input-no-style" class="no-style">
	</div>
	<div class="stack">
		<label for="input-focus">:focus pseudo class</label>
		<input size="10" id="input-focus" class="focus">
	</div>
	<div class="stack">
		<label for="input-focus-visible">:focus-visible pseudo class</label>
		<input size="10" id="input-focus-visible" class="focus-visible">
	</div>
</div>
</body>

</html>
