---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<h1>input</h1>

<p class="focusabletext" tabindex="0" autofocus>Try focusing these text fields using <kbd>Tab</kbd> key or clicking on it.</p>

<div class="switcher mt-3">
	<div class="stack">
		<h2>no style</h2>
		<input size="10" class="ui no-style">
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<input size="10" class="ui focus">
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<input size="10" class="ui focus-visible">
	</div>
</div>

</BaseLayout>
