---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroMessage from "../components/IntroMessage.astro";
const pageName = "select";
---

<BaseLayout pageName={pageName}>

<h1>{pageName}</h1>

<IntroMessage></IntroMessage>

<div class="switcher mt-3">
	<div class="stack">
		<h2>デフォルト</h2>
		<select class="ui no-style">
			<option>one</option>
			<option>two</option>
			<option>three</option>
		</select>
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<select class="ui focus">
			<option>one</option>
			<option>two</option>
			<option>three</option>
		</select>
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<select class="ui focus-visible">
			<option>one</option>
			<option>two</option>
			<option>three</option>
		</select>
	</div>
</div>

</BaseLayout>
