---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<style>
.text {
	font-size: 2em;
}
.focus:focus {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
.focus-visible:focus-visible {
	outline: 4px solid goldenrod;
	outline-offset: 2px;
}
p:focus-visible {
	outline: 4px solid goldenrod;
}
</style>

<BaseLayout>

<h1>text</h1>

<p tabindex="0" autofocus>Try focusing these text fields using <kbd>Tab</kbd> key or clicking on it.</p>

<div class="switcher">
	<div class="stack">
		<h2>no style</h2>
		<p class="text no-style" tabindex="0">Hello, world.</p>
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<p class="text focus" tabindex="0">Hello, world.</p>
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<p class="text focus-visible" tabindex="0">Hello, world.</p>
	</div>
</div>

</BaseLayout>
