---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroMessage from "../components/IntroMessage.astro";
const pageName = "テキスト";
---

<BaseLayout pageName={pageName}>

<h1>{pageName}</h1>

<IntroMessage></IntroMessage>

<div class="switcher mt-3">
	<div class="stack">
		<h2>tabindex="0"</h2>
		<p class="ui no-style" tabindex="0">Hello, world.</p>
	</div>
	<div class="stack">
		<h2>:focus</h2>
		<p class="ui focus" tabindex="0">Hello, world.</p>
	</div>
	<div class="stack">
		<h2>:focus-visible</h2>
		<p class="ui focus-visible" tabindex="0">Hello, world.</p>
	</div>
</div>

</BaseLayout>
