---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const {
  pageName = "📄",
  showHeader = true,
  showFooter = true
} = Astro.props;
const siteName = "focus styling";
const pageTitle = `${pageName} | ${siteName}`;
---
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{pageTitle}</title>
<link rel="stylesheet" href="{Astro.resolve('../styles/variables.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/base.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/layoutprimitives.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/ui.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/util.css')}">
</head>
<body>

{ showHeader &&
<Header></Header>
}

<main>
  <slot></slot>
</main>

{ showFooter &&
<Footer></Footer>
}

</body>
</html>
