---
---
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>focus styling</title>
<link rel="stylesheet" href="{Astro.resolve('../styles/variables.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/base.css')}">
<link rel="stylesheet" href="{Astro.resolve('../styles/layoutprimitives.css')}">
</head>
<body>

<h1>focus styling</h1>

<slot></slot>

</body>
</html>
